.root {
    -fx-background-color: white;
}

.card {
    -fx-border-color: #E1E1E2;
    -fx-border-width: 1px;
}

/*============
    Navbar
============= */

.navbar{
}

.searchbar {
    -fx-font-size: 11pt;
}

.searchbar-cancel-btn{
    -fx-background-color: #92929D;
    -fx-border-radius: 50%;
    -fx-text-fill: white;
}

.searchbar-cancel-btn:hover{
    -fx-background-color: #32323D;
}

.navbar-usermenu {
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
}

.navbar-usermenu:hover{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: inherit;
}

.navbar-usermenu-item{
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
}

.navbar-usermenu-item:hover{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: black;
}

/*============
    Drawer
============= */

.drawer {
    -fx-max-height: inherit;
}

.drawer-btn {
    -fx-background-color: inherit;
    -fx-background-radius: 10px;
}

.drawer-btn:hover {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #067FEB;
}

.drawer-btn-primary {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

.drawer-btn-secondary {
    -fx-font-size: 15pt;
}

/*============
    Player
============= */

.main {
    -fx-background-color: white;
}

/*============
    Player
============= */

.player {
}

.player-nav-btn {
    -fx-background-color: inherit;
    -fx-max-height: 48px;
    -fx-max-width: 48px;
    -fx-min-height: 48px;
    -fx-min-width: 48px;
}

.player-nav-btn:hover {
    -fx-background-color: #EBEBEE;
}

.player-btn {
    -fx-background-color: inherit;
    -fx-max-height: 32px;
    -fx-max-width: 32px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
}

.player-timespan {
    -fx-font-size: 6pt;
    -fx-text-fill: #92929D;
}

