# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
res/clientConfig.properties
out/production/deeezerclient/clientConfig.properties
out/production/deeezerclient/css/deezer-styles.css
out/production/deeezerclient/fxml/index.fxml
out/production/deeezerclient/META-INF/deeezerclient.kotlin_module
out/production/deeezerclient/localisation/localisation_ru.properties
out/production/deeezerclient/localisation/localisation_en.properties
out/production/deeezerclient/localisation/localisation.properties
out/production/deeezerclient/img/icon-text.png
out/production/deeezerclient/img/icon-sound-mute.png
out/production/deeezerclient/img/icon-sound-66.png
out/production/deeezerclient/img/icon-sound-33.png
out/production/deeezerclient/img/icon-sound-100.png
out/production/deeezerclient/img/icon-shuffle.png
out/production/deeezerclient/img/icon-settings.png
out/production/deeezerclient/img/icon-search.png
out/production/deeezerclient/img/icon-repeat.png
out/production/deeezerclient/img/icon-previous.png
out/production/deeezerclient/img/icon-play.png
out/production/deeezerclient/img/icon-pause.png
out/production/deeezerclient/img/icon-next.png
out/production/deeezerclient/img/icon-like.png
out/production/deeezerclient/img/icon-dislike.png
out/production/deeezerclient/img/icon-cancel.png
out/production/deeezerclient/img/icon-add.png
out/production/deeezerclient/img/deezer_logo_light.png
out/production/deeezerclient/img/deezer_logo_dark.png
out/production/deeezerclient/img/deezer-icon.jpg
