.root {
     -fx-background-color: white;
 }

.card {
    -fx-border-color: #E1E1E2;
    -fx-border-width: 1px;
}

.comment-card {
    -fx-background-color: #F7F7F7;
}

.deezer-alert {
    -fx-background-color: black;
    -fx-text-fill: red;
}

.deezer-button {
    -fx-background-color: none;
    -fx-font-size: 12pt;
}

.deezer-button:hover {
    -fx-cursor: Hand;
}

.deezer-play-btn {
    -fx-background-color: #007FEB;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

.deezer-follow-btn {
    -fx-background-color: inherit;
    -fx-border-color: #D1D1D7;
    -fx-text-fill: #007FEB;
    -fx-font-size: 10pt;
}

.deezer-secondary {
    -fx-font-size: 10pt;
    -fx-text-fill: #B6B6BD;
}

.deezer-subtitle {
    -fx-font-size: 18pt;
    -fx-text-fill: #5E5E67;
}

.deezer-title {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
}

.flow-pane {
    -fx-column-halignmentlignment: center;
    -fx-row-valignment: top;
    -fx-background-color: inherit;
}

.scroll-pane{
    -fx-background-color: inherit;
}

.scroll-pane .viewport {
    -fx-background-color: inherit;
}

.tab {
    -fx-background-color: inherit ;
    -fx-text-size: 11pt;
}

.tab:selected {
    -fx-text-fill: #007FEB;
}

/*============
    Navbar
============= */

.navbar{
}

.searchbar {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-font-size: 12pt;
    -fx-text-box-border: transparent;
    -fx-padding: 1 3 1 3;
}

.searchbar-cancel-btn{
    -fx-background-color: #92929D;
    -fx-border-radius: 50%;
    -fx-text-fill: white;
}

.searchbar-cancel-btn:hover{
    -fx-background-color: #32323D;
}

.login-btn {
    -fx-background-color: inherit;
    -fx-border-color: #2D96C8;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-font-size: 11pt;
    -fx-text-fill: #2D96C8;
}

.login-btn:hover {
    -fx-border-color: #03608A;
    -fx-text-fill: #03608A;
}

.navbar-usermenu {
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
}

.navbar-usermenu:hover{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: inherit;
}

.navbar-usermenu-item{
    -fx-background-color: inherit;
    -fx-text-fill: inherit;
}

.navbar-usermenu-item:hover{
    -fx-background-color: #F2F2F2;
    -fx-text-fill: black;
}

/*============
    Drawer
============= */

.drawer {
    -fx-max-height: inherit;
}

.drawer-btn {
    -fx-background-color: inherit;
    -fx-background-radius: 10px;
}

.drawer-btn:hover {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #067FEB;
}

.drawer-btn-primary {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

.drawer-btn-secondary {
    -fx-font-size: 15pt;
}

/*============
    Main
============= */

.card-header {
    -fx-font-size: 23pt;
    -fx-font-weight: bold;
    -fx-text-fill: #32323D;
}

.column-header {
    -fx-background-color: white;
    -fx-border-color: #F9F9F9;
}

.flow-pane {
    -fx-hgap: 35;
    -fx-vgap: 25;
}

.main-tab-pane {
    -fx-tab-max-height: 0 ;
}
.main-tab-pane > .tab-header-area {
    visibility: hidden ;
}

.scroll-pane {
    -fx-background-color: white;
}

.table-view {
    -fx-border-width: 0px;
}

.tab-header-background {
    -fx-background-color: inherit ;
}

.tab-label {
    -fx-background-color: inherit;
    -fx-text-fill: #9B9BA5;
}

.tab-label:selected {
    -fx-text-fill: #32323D;
}

.tab-pane {
    -fx-background-color: white;
}
/*====================
    Cards
======================*/

/*============
    Album card
============= */
.albumcard {
    -fx-alignment: center;
}

.albumcard-album {
    -fx-background-color: none;
    -fx-border-radius: 2px;
    -fx-vgrow-policy:always;
}

.albumcard-album:hover {
    -fx-cursor: Hand;
}

.albumcard-name {
    -fx-background-color: none;
    -fx-font-size: 10pt;
    -fx-text-fill: #32323D;
    -fx-wrap-text: true;
    -fx-vgrow-policy:never;
}

.albumcard-artist {
    -fx-background-color: none;
    -fx-font-size: 9pt;
    -fx-font-weight: lighter;
    -fx-text-fill: #83838C;
    -fx-vgrow-policy:never;
}

.albumcard-artist:hover {
    -fx-cursor: Hand;
    -fx-underline: true;
}

/*============
    Artist card
============= */
.artistcard {
    -fx-alignment: center;
}

.artistcard-artist {
    -fx-background-color: none;
    -fx-border-radius: 2px;
    -fx-vgrow-policy:always;
}

.artistcard-artist:hover {
    -fx-cursor: Hand;
}

.artistcard-name {
    -fx-background-color: none;
    -fx-font-size: 10pt;
    -fx-padding: 20 20 20 20;
    -fx-text-fill: #32323D;
    -fx-wrap-text: true;
    -fx-vgrow-policy:never;
}

.artistcard-followers {
    -fx-background-color: none;
    -fx-font-size: 9pt;
    -fx-font-weight: lighter;
    -fx-text-fill: #83838C;
    -fx-vgrow-policy:never;
}

/*============
    Playlists card
============= */
.playlistcard {
}

.playlistcard-playlist {
    -fx-background-color: none;
    -fx-border-radius: 2px;
    -fx-vgrow-policy:always;
}

.playlistcard-playlist:hover {
    -fx-cursor: Hand;
}

.playlistcard-title {
    -fx-background-color: none;
    -fx-font-size: 10pt;
    -fx-text-fill: #32323D;
    -fx-wrap-text: true;
    -fx-vgrow-policy:never;
}

.playlistcard-tracks {
    -fx-background-color: none;
    -fx-font-size: 9pt;
    -fx-font-weight: lighter;
    -fx-text-fill: #83838C;
    -fx-vgrow-policy: never;
}

/*============
    Radio card
============= */
.radiocard {
}

.radiocard-radio {
    -fx-background-color: none;
    -fx-border-radius: 2px;
    -fx-max-height: 200px;
    -fx-max-width: 200px;
    -fx-vgrow-policy:always;
}

.radiocard-radio:hover {
    -fx-cursor: Hand;
}

/*============
    User card
============= */
.usercard {
    -fx-alignment: center;
}

.usercard-user {
    -fx-background-color: none;
    -fx-border-radius: 2px;
    -fx-vgrow-policy:always;
}

.usercard-user:hover {
    -fx-cursor: Hand;
}

.usercard-name {
    -fx-background-color: none;
    -fx-font-size: 10pt;
    -fx-text-fill: #32323D;
    -fx-wrap-text: true;
    -fx-vgrow-policy:never;
}

/*============
    Artist
============= */

.artist-secondary {
    -fx-text-fill: #94949D;
    -fx-font-size: 12pt;
}

/*============
    Player
============= */

.player {
}

.player-nav-btn {
    -fx-background-color: inherit;
    -fx-max-height: 48px;
    -fx-max-width: 48px;
    -fx-min-height: 48px;
    -fx-min-width: 48px;
}

.player-nav-btn:hover {
    -fx-background-color: #EBEBEE;
}

.player-btn {
    -fx-background-color: inherit;
    -fx-max-height: 32px;
    -fx-max-width: 32px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
}

.player-timespan {
    -fx-font-size: 6pt;
    -fx-text-fill: #92929D;
}

